#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CHIP_A527

menu "A527 Virt Chip Selection"

choice
	prompt "A527 Core Configuration"
	default ARCH_CHIP_A527_A53

config ARCH_CHIP_A527_A53
	bool "A527 virtual Processor (cortex-a53)"
	select ARCH_HAVE_MULTICPU
	select ARMV8A_HAVE_GICv3
	select ARM64_HAVE_PSCI
	select ARCH_CORTEX_A53

endchoice # A527 Chip Selection

config ARCH_CHIP_A527_WITH_HV
	bool "A527 with hypvervisor (e.g. kvm, hvf)"
	default n

endmenu # "A527 Chip Selection"

endif # ARCH_CHIP_A527
